<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="showBack">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <div class="logo-title">
      <ion-img
        src="assets/logo.png"
        alt="Acentus Logo"
        class="header-logo"
      ></ion-img>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon
          slot="icon-only"
          name="reorder-three"
          aria-label="Open menu"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
