.logo-title {
  .header-logo {
    height: 60px;
    padding: 8px 0;
    margin-left: 8px;
    object-fit: contain;
    object-position: 0 0;
  }
}

:host-context(.dark) {
  .logo-title {
    .header-logo {
      filter: brightness(0) invert(1);
    }
  }
}
ion-back-button {
  --padding-start: 10px;
  --padding-end: 0;
  margin-right: -10px;
}
