<ion-menu type="overlay" side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Hello, Todd Cianfrocca!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        button
        routerLink="/home"
        routerDirection="root"
        (click)="closeMenu()"
      >
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item
        button
        routerLink="/replace"
        routerDirection="forward"
        (click)="closeMenu()"
      >
        <ion-label>Replace a non-working<br />or faulty sensor</ion-label>
      </ion-item>
      <ion-item
        button
        routerLink="/track"
        routerDirection="forward"
        (click)="closeMenu()"
      >
        <ion-label>Track supply order</ion-label>
      </ion-item>
      <ion-item
        button
        routerLink="/see"
        routerDirection="forward"
        (click)="closeMenu()"
      >
        <ion-label>See supply order status</ion-label>
      </ion-item>
      <ion-item
        button
        routerLink="/when"
        routerDirection="forward"
        (click)="closeMenu()"
      >
        <ion-label>When do I need updated<br />office visit notes?</ion-label>
      </ion-item>
      <ion-item
        button
        routerLink="/pay"
        routerDirection="forward"
        (click)="closeMenu()"
      >
        <ion-label>Pay $3.50 account balance</ion-label>
      </ion-item>
      <ion-item
        button
        routerLink="/update"
        routerDirection="forward"
        (click)="closeMenu()"
      >
        <ion-label>Update personal information</ion-label>
      </ion-item>
      <ion-item
        button
        routerLink="/send"
        routerDirection="forward"
        (click)="closeMenu()"
      >
        <ion-label>Send a message to Acentus</ion-label>
      </ion-item>
      <div class="ion-margin" style="flex: 1"></div>
      <ion-item lines="none">
        <ion-label>Dark mode</ion-label>
        <ion-toggle
          [(ngModel)]="isDarkMode"
          (ionChange)="toggleDarkMode()"
        ></ion-toggle>
      </ion-item>
      <ion-item lines="none" class="ion-margin-bottom">
        <ion-label>Log out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
