ion-content {
  --background: var(--ion-background-color);
  height: 100%;
}

ion-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  ion-item {
    ion-label {
      line-height: 1.2;
    }
  }
}
