<app-header [showBack]="true"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-padding">
    <h2>Update Personal Information</h2>
    <p><em><strong>Customer Since:</strong> 02/20/2020</em></p>
    <ion-card class="ion-no-margin ion-margin-bottom">
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label>
              <small>Name</small>
              <br />
              John Doe
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small>Cell</small>
              <br />
              813-555-4444
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small>Email</small>
              <br />
              johndoe&#64;yahoo.com
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small>Date of Birth</small>
              <br />
              01/01/1955
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-margin ion-margin-bottom">
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label>
              <small>Billing Address</small>
              <br />
              12144 1st Street<br />
              N Tampa FL 33622
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small>Shipping Address</small>
              <br />
              12144 1st Street<br />
              N Tampa FL 33622
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-margin ion-margin-bottom">
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label>
              <small>Doctor's Information</small>
              <br />
              Daniel Jones<br />
              Office: <a href="tel:8135555252">813-555-5252</a><br />
              FAX: <a href="tel:8135555544">813-555-5544</a>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small>Insurance</small>
              <br />
              Medicare Region C<br />
              AARP United Healthcare
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small>Next Office Visit Notes Due</small>
              <br />
              05/22/2025
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small>Supplies</small>
              <br />
              Dexcom G7
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button fill="outline" expand="block ion-margin-top">
      Request an Information Change
    </ion-button>
  </div>
</ion-content>
