<app-header [showBack]="true"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-padding">
    <h2>Track my supply order</h2>
    <ion-card class="ion-no-margin ion-margin-bottom">
      <ion-card-header>
        <ion-card-title>Your most recent order</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label>
              <small>Order authorization date</small>
              <br />
              04/08/2025
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small>Order ship date</small>
              <br />
              04/15/2025
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small>Tracking #</small>
              <br />
              2558412584448872
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-margin ion-margin-bottom">
      <ion-card-header>
        <ion-card-title>Your past orders</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item detail="true">
            <ion-label>
              <small>2558412584448872</small>
              <br />
              01/08/2025
            </ion-label>
          </ion-item>
          <ion-item detail="true">
            <ion-label>
              <small>556662584448814</small>
              <br />
              10/08/2024
            </ion-label>
          </ion-item>
          <ion-item detail="true">
            <ion-label>
              <small>8588744555966</small>
              <br />
              06/07/2024
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
