<app-header [showBack]="true"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-padding">
    <h2>When do I need updated office visit notes</h2>
    <p>
      Your insurance requires us to collect your office visit notes every 6
      months to assure you still need a CGM for your diabetes care plan.
    </p>
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <ion-text>
          <p><strong>Next visit notes due:</strong> 04/25/2025</p>
          <p>
            We will contact <strong>XXXXXX XXXXXXXXX</strong> to request your
            visit notes. You may also want to contact them at
            <strong>813-555-1212</strong>
          </p>
          <p><strong>Next available order ship date:</strong> 04/18/2025</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
